# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs.
# https://editorconfig.org

root = true

# Default settings for all files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Specific settings for Markdown files
[*.md]
trim_trailing_whitespace = false

# Specific settings for JSON files
[*.json]
indent_size = 2

# Specific settings for YAML files
[*.yml]
indent_size = 2

# Specific settings for Makefiles
[Makefile]
indent_style = tab